<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Lottery Ball Machine</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <!-- Navbar content -->
    <nav class="navbar bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">PMT Games</span>
        </div>
    </nav>
    <!-- End of Navbar content -->
    <div class="hero">
        <div class="form-group">
            <h1>Guess the Number</h1>
            <form class="row gy-2 gx-3 align-items-center" method="POST" action="/">
                <div class="col-auto">
                <label class="visually-hidden" for="guess">Enter your guess:</label>
                <input class="form-control" type="number" name="guess" id="guess" min="1" max="100" required>
                <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">
        <p>Copyright &#169; DesHeinz 2023
        </p>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
