
/* * {
  border: 1px solid red;
} */


body {
    margin: auto;
  }
  
  .main {
    background-color: black;
    color: #8badcb;
    font-family: Bebas Neue, Impact, -apple-system, Segoe UI, Arial, sans-serif;
    padding-bottom: 100px;
  
  }
  
  .nav {
    color: #8badcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 10px 50px;
  }
  
  .nav-logo {
    margin: 0 50px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    padding: 100px;
    color: white;
    background-color: orange;
    border: 1px solid red;
  }

  /* Styles for desktop screens */
@media (min-width: 1025px) {
  .hero {
    padding: 100px;
  }
  .user-guess,
  .awl-guess,
  .hanks-guess {
    width: 30%;
  }
}
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .hero-content, .user-guess, .awl-guess, .hanks-guess {
    height: 200px;
    width: 300px;
  }
  
  .user-guess {
    color: white;
    display: flex;
  }

  .awl-guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .hanks-guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  button {
    background-color: #FF8200;
    color: white;
    border-style: none;
    border-radius: 5px;
    width: 75px;
    padding: 5px;
  }



  .middle {
    font-family: Bebas Neue, Impact, -apple-system, Segoe UI, Arial, sans-serif;
    padding: 50px 100px 150px 100px;
    background-color: #8badcb;
  }
  
  .container {
    display: flex;
    gap: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 0 48px;
    padding: 25px;
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .text {
    color:black;
    text-align: center;
    font-size: 12px;
  }
  
  
  .sources {
    background-color: white;
    color: #8badcb;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer {
    background-color: black;
    font-family: Bebas Neue, Impact, -apple-system, Segoe UI, Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }